<div class="container" style="margin-top: 100px;">
  <h1 class="text-info text-center">
    Barriguita llena corazón contento, donde consientes tu paladar
  </h1>
  <div class="text-center">
    <img src="assets/img/portada.jpg" width="900px;" height="530px" alt="">
    <p style="margin-top: 20px;font-size: 30px;">
      Somos una empresa pereirana que con más de 10 años en el sector de la gastronomia, brindando maravillosas
      experiencias a nuestros clientes. <br /><br />

      Estamos muy contentos de atenderte y poderte deleitar con cada uno de nuestros productos
      recuerda que todos nuestros productos y procesos de preparación cuentan con todos las normas de higiene,
      para ademas de brindarte una deliciosa experiencia gastronomica, darte la tranquilidad de que no te vas a
      enfermar.
    </p><br />
    <h1 class="text-info">
      Promociones
    </h1>
    <p style="margin-top: 20px;font-size: 30px;">
      Disfruta de nuestras promociones, todos los días ofertamos diferentes platos para que disfrutes todas nuestras
      delicias
    </p>
    <div class="card-columns">
      <div class="card" *ngFor="let promocion of listaPromociones">
        <img [src]="promocion.img" class="card-img-top" alt="plato.plato">
        <div class="cuerpo-tarjeta-plato card-block text-center">
          <h4>{{ promocion.plato }}</h4>
          <h4 *ngIf="promocion.promocion=='0'" class="text-secondary">$ {{ promocion.precio }}</h4>
          <h4 *ngIf="promocion.promocion=='1'" class="text-secondary">$ {{ promocion.precio_promocion }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
